
<div class="container-fluid">
  <div class="row">
    <div class="col-md-">



    </div>

    <div class="col-md-6 col-md-offset-3">


      <h1>Students</h1>

      <div class="form-group">

        <label for="">Search:</label>
        <input type="text" ng-model="$ctrl.query" class="form-control">

      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th class="text-center">Grades</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="student in $ctrl.students | filter: $ctrl.query" ng-show="{{student.active}}" style="color: {{student.color}}" >
            <td>{{student.name}}</td>
            <td>{{student.yearsOld}}</td>
            <td class="text-center"><a href="#!/students/{{student.id}}"><span class="glyphicon glyphicon-search"></span></a></td>
          </tr>
        </tbody>

      </table>



    </div>

  </div>
</div>
