$grade-green-color: #31B404;
$grade-yellow-color: #D7DF01;
$grade-red-color: #FE2E2E;

 .grade-green{
   color: $grade-green-color;
 }

 .grade-yellow{
   color: $grade-yellow-color;
 }

 .grade-red{
   color: $grade-red-color;
 }

 .text-center{
   text-align: center;
 }

 .btn-info{
   margin-top:20px;
 }
